<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading" class="card-columns mt-4">
  <div
    (click)="watchArtist(release)"
    class="card pointer"
    *ngFor="let release of releases"
  >
    <img [src]="release['images'][0].url" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ release.name }}</h5>
      <button
        class="btn btn-primary btn-sm m-1"
        *ngFor="let artist of release.artists"
      >
        {{ artist.name }}
      </button>
    </div>
  </div>
</div>
